.message {
    text-align: center;
}

.message__both {
    margin: 4rem auto;  
    width: 30%;
    background-color: #F2F1E8; 
    border-radius: 5%;
}

.message__form {
    display: flex;   
}

.live__card {
    padding: 4rem;
    width: 25%;
    height: 45vh;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 25%;
    background-color: #F2F1E8;
}

.live__scores {
    margin: 5rem auto;
}


h2, h3 {
    text-align: center;
}

button,
input,
select {
    
}
/* .message__top {
    align-self: center;
} */
/* .message__form {
    padding: 2rem;
} */