.score__card {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rbga(0, 0, 0, 0.75);
    display: flex;
    margin: 3rem;
}

.score__card:hover {
    transform: scale(1.07)
}

.score__card > h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    width: 2rem;
}

.round__form {
    display: flex;
    flex-direction: column;
    width: 8rem;
    margin: 1rem;
}

.blue > input {
    margin: 5px;
}

.scores__form {
    border: 1px solid black;
    height: 50vh;
    width: 100%;   
}

.scores {
    border: 1px solid black;
    height: 50vh;
    width: 100%;   
}

.card__form {
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

.red, .blue {
    margin: 2px;
}

/* #root {
    display: flex;
    flex-direction: column;
} */

/* .live__scores {
    height: 40vh;
} */

/* html {
    display: flex;
    flex-direction: column;
} */